.todolistcontainer{
    max-width: 600px;
    margin: auto;
    border: 1px solid #d2d3d4;
    padding: 16px;
    border-radius: 12px;
    max-height: 600px;
    overflow: auto;
    scrollbar-width: thin;
    .inputsection{
        display: flex;
        gap: 12px;
        align-items: center;
        .addbtn{
            width: 42px;
            cursor: pointer;
        }
        input{
            border: none;
    border-bottom: 1px solid #d2d3d4;
    padding-bottom: 6px;
    background-color: transparent;
    width: 100%;
    &:focus{
        border: transparent;
          border-bottom: 1px solid #d2d3d4;
    }
    &:focus-visible{
         border: transparent;
          border-bottom: 1px solid #d2d3d4;
          outline: 1px solid transparent;
    }
        }
    }
    .nodata{
        min-height: 200px;
        width: 100%;
        display: grid;
        place-items: center;
        div{
                display: flex;
    flex-direction: column-reverse;
    text-align: center;
        }
    }
    .title{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 32px;
    }
    .taskscontainer{
        display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px 0;
    margin-bottom: 0;
        .tasks{
            padding: 8px 12px;
    border: 1px solid #d2d3d4;
    border-radius: 12px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
        min-height: 26px;
        .strike{
             text-decoration: line-through;
        }
        .cont{
            width: 100%;
           
        }
        label{
font-weight: 500;
        font-size: 16px;
        width: 100%;
        cursor: pointer;
         display: block;
        }
        
     .imgcontainer{
        width: 24px;
        height: 24px;
        display: none;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &:hover{
        .imgcontainer{
            display: block;
        }
    }
   
        }
    }
}